#all {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 13.25rem;
    height: 15.5rem;
    
    background-color: var(--menu);
    
    border-radius: .25rem;
}

.search {
    padding: .2rem;
    margin: .5rem;
    
    font-weight: bold;
    
    color: var(--font_2);
    background-color: var(--background);
    
    border: none;
}

.search:focus {
    outline: none;
}

#emojis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    
    height: 12rem;
    margin-left: .40rem;
    
    overflow-y: auto;
    
    border-radius: .25rem;
}

.emoji {
    width: 2rem;
    height: 2rem;
    margin: .2rem;
    
    background-color: var(--one);
    border-radius: 2rem;
}

#hover {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 2.4rem;
    padding: .2rem;
    padding-left: .5rem;

    background-color: var(--header);
    border-radius: .25rem;
}

#hover_img {
    height: 2rem;
    margin-right: .25rem;
}

#hover span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ========= Scrollbar ========= */
::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background-color: var(--menu);
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background: var(--header);
    border: 3px solid var(--menu);
}
