#all {
    display: flex;
    flex-direction: row;

    width: 13.2rem;
    height: 11rem;
    padding: .5rem;
    
    background-color: var(--background);
    
    /* border: solid 1px rgba(255,255,255,0.3); */
    border: solid 1px var(--header);
    border-radius: .25rem;
}

#all:hover {
    box-shadow: 5px 5px 30px var(--header);
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
    /* border: solid rgba(0, 225, 255, 0.5) 1px; */
}

/* ========== File ========== */
#file_frame {
    display: flex;
    align-items: center;

    height: 10rem;
    width: 10rem;
    
    text-align: center;
    cursor: pointer;

    border: solid var(--header) 5px;
}

#file_frame:hover {
    text-shadow: 5px 5px 5px var(--header);
}

#file_display {
    max-width: 100%;
    max-height: 100%;
}

#file_empty {
    font-weight: bold;
    font-size: 1.2rem;
    
    color: var(--header);
}

#input_file {
    display: none;
}

/* ========== Buttons ========== */
#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: .25rem;
}

.feather {
    width: 2rem;
    margin-top: .5rem;
}
