.logsContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
/* ========= Scrollbar ========= */
.logsContainer::-webkit-scrollbar {
    width: 16px;
}

.logsContainer::-webkit-scrollbar-track{
    background: var(--menu); 
}

.logsContainer::-webkit-scrollbar-thumb {
    background: var(--font_1); 
    border: solid 4px var(--menu);
}
/*---------------------------------------*/
