#side_menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;

    width: 4rem;
    /* width: 5rem; */
    height: 100%;
    padding-top: .5rem;
    /* padding: 0 .5rem; */

    background-color: var(--header);
    /* background-color: var(--side); */
}

.img_div {
    margin-top: .2rem;
}

.img_button {
    width: 3rem;
    height: 3rem;

    /* padding: .25rem; */
    /* width: 3.5rem;
    height: 3.5rem;
    padding: .25rem; */
    
    /* border-radius: 1rem; */
}

.img_button:hover {
    filter: drop-shadow(1px 1px 2px var(--white));
}

.split {
    width: 3rem;
    /* height: .5rem; */
    margin: .25rem 0;

    border-bottom: 2px solid var(--black);
}


/* ========= Scrollbar ========= */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track{
    background-color: var(--header);
}

::-webkit-scrollbar-thumb {
    background: var(--font_1);
    border: 2px solid var(--header);
}
