<div id="side_menu">
    <a class="img_div" routerLink="privateMessages/redirect">
        <img class="img_button feather" src="../../../../assets/images/feather-icons/message-circle.svg" alt="msg">
    </a>

    <a class="img_div" routerLink="/teamSelect">
        <img class="img_button feather" src="../../../../assets/images/feather-icons/users.svg" alt="team">
    </a>

    <a class="img_div" routerLink="/video">
        <img class="img_button feather" src="../../../../assets/images/feather-icons/video.svg" alt="video">
    </a>

    <div class="split"></div>

    <a class="img_div">
        <img class="img_button feather" src="../../../../assets/images/feather-icons/file-text.svg" alt="files">
    </a>

    <a class="img_div">
        <img class="img_button feather" src="../../../../assets/images/feather-icons/calendar.svg" alt="files">
    </a>

    <a class="img_div">
        <img class="img_button feather" src="../../../../assets/images/feather-icons/check-square.svg" alt="files">
    </a>

    <div class="split"></div>

    <a *ngIf="isAdmin()" class="img_div" routerLink="/params/admin">
        <img class=" img_button feather" src="../../../../assets/images/feather-icons/tool.svg" alt="files">
    </a>
</div>