::ng-deep .p-panel .p-panel-header {
    border: 1px solid var(--white);
    padding: 1rem;
    background: var(--background);
    color: var(--font_2);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
::ng-deep .p-panel .p-panel-content {
    padding: 1rem;
    border: 1px solid var(--white);
    background: var(--background);
    color: var(--font_2);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0 none;
    margin-left: 150px;
    margin-right: 150px;
}
/*-----------------profil Container-----------------------------------*/
.profil{
    height: 50px;
    border-radius: 60px;
}
.profilContainer{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.profilContainer>p{
    margin-top: 5%;
}
