<div id="all">
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <div class="center">
            <img id="logo" src="../../../assets/images/logo.png" alt="logo">
        </div>

        <div class="p-float-label f-input-div">
            <p-password formControlName="password" toggleMask="true" [feedback]="false" required></p-password>
            <label>Mot de passe actuel</label>
        </div>

        <div class="p-float-label f-input-div" id="p1">
            <p-password formControlName="passwordNew1" toggleMask="true" required></p-password>
            <label>Nouveau mot de passe</label>
        </div>

        <div class="p-float-label f-input-div" id="p2">
            <p-password formControlName="passwordNew2" toggleMask="true" [feedback]="false"
                [class.ng-dirty]="passwordForm.hasError('notSame') && passwordForm.controls.passwordNew2.touched"
                [class.ng-invalid]="passwordForm.hasError('notSame') && passwordForm.controls.passwordNew2.touched"
                [class.ng-valid]="!(passwordForm.hasError('notSame') && passwordForm.controls.passwordNew2.touched)"
                required>
            </p-password>
            <label>Confimer le mot de passe</label>
        </div>

        <div class="center">
            <button pButton pRipple type="submit" [disabled]="passwordForm.invalid" label="Changer le mot de passe"
                class="p-button-rounded p-button-info" id="save"></button>
        </div>
    </form>

    <p-toast position="bottom-right"></p-toast>
</div>