#all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
}

#logo {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;

    filter: drop-shadow(1px 1px 2px var(--white));
}

/* ========== Password ========== */
::ng-deep.f-input-div .p-password-panel {
    color: var(--font_1);
    background-color: var(--background);
}

::ng-deep.pi-eye::before, ::ng-deep.pi-eye-slash::before {
    color: var(--font_1);
}

label {
    color: var(--font_1);
}

#p1, #p2 {
    margin-top: 4rem;
}

::ng-deep.p-inputtext:hover, ::ng-deep.p-inputtext:enabled:focus {
    border-color: var(--header);
    box-shadow: 0 0 25px 5px var(--font_1);
}

/* ========== Button ========== */
#save {
    align-self: center;
    margin-top: 2rem;
    background-color: var(--font_1);
    border: none;
}

.center {
    display: flex;
    justify-content: center;
}
