<div id="global">
    <h1 id="title"> INFORMATIONS</h1>

    <div>
        <img *ngIf="team!=undefined" src="{{env.apiUrl}}/files/teams/{{team.picture}}" alt="">
    </div>

    <div class="info">
        <label for="float-input">NOM</label>
        <span class="p-float-label">
            <input id="float-input" type="text" disabled="disabled" value="{{ team == undefined?'':team.name }}"
                pInputText>
        </span>
    </div>

    <div class="info">
        <label for="float-input">DESCRIPTION</label>
        <span class="p-float-label">

            <textarea [rows]="5" [cols]="30" type="text" disabled="disabled"
                value="{{team == undefined?'': team.desc }}" pInputTextarea autoResize="autoResize">
                   </textarea>
        </span>
    </div>


    <div>
        <button *ngIf="hasManageTeam()" pButton pRipple type="button" (click)="teamUpdate( team.id )"
            label="Changer les informations" class="p-button-rounded p-button-info"></button>
    </div>

</div>