#upload {
    display: flex;
    margin-left:40px ;
    margin-top: 1rem;
}

span {
    margin: 40px;
}

button {
    margin-left: 40px;
}

input {
    background-color: var(--background);
}

input:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)
}

textarea {
    background-color: var(--background);
    width: 50%;
}

textarea:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)
}

label {
    color: var(--font_2);
}
