.p-float-label {
    margin: 1.5rem 1rem 0 !important
}

h1 {
    color: var(--header) !important;
}

button {
    background-color: var(--header);
}

button:enabled:hover {
    background-color: var(--menu);
}
