<div class="msg">
    <app-sender-profile [member]="msg.sender" [show]="msg.sender.user.id != user.id"></app-sender-profile>

    <div id="right">
        <div class="top">
            <span class="sender">{{msg.sender.user.firstname}} {{msg.sender.user.lastname}}</span>
            <span class="time">{{getTimeStr()}}</span>
        </div>

        <!-- Content -->
        <div [hidden]="editable" [innerHtml]="msg.html" class="text" #display></div>

        <div [hidden]="!editable" class="text edit" contentEditable="true" (input)="editContent=$event.target.innerText"
            (keydown.enter)="pressEnter($event)" (keydown.escape)="pressEscape($event)" #edit></div>

        <!-- File -->
        <app-shared-file [file]="msg.file"></app-shared-file>

        <!-- Reactions -->
        <div id="reactions">
            <app-reaction *ngFor="let react of msg.reactions" [reaction]="react" [member]="member" [msgId]="msg.id">
            </app-reaction>
        </div>
    </div>

    <!-- Icons on hover -->
    <div id="icons">
        <img class="msg_icon feather" src="../../../../../assets/images/feather-icons/smile.svg" alt="emoji"
            (mousedown)="emoji()" *ngIf="hasAddReaction()">

        <img class="msg_icon feather" src="../../../../../assets/images/feather-icons/edit-3.svg" alt="edit"
            *ngIf="msg.sender.user.id == user.id" (mousedown)="editButton()">
        <img class="msg_icon feather" src="../../../../../assets/images/feather-icons/trash-2.svg" alt="delete"
            *ngIf="hasDeleteRights(msg.sender.user.id)" (mousedown)="deleteButton($event)">
    </div>

    <app-emojis-selector [hidden]="hideSelector" [teamId]="msg.teamId" (emojiEmit)="addReaction($event)">
    </app-emojis-selector>
</div>