.msg {
    position: relative;

    display: flex;
    flex-direction: row;
    
    min-width: 22rem;
    padding: .5rem 1rem;

    font-family: sans-serif;

    background-color: var(--one);
}

.msg:hover {
    /* background-color: rgba(var(--_header), .9); */
    background-color: var(--one2);
}

app-sender-profile {
    margin-right: 1rem;
}

/* ================ msg =================== */
.top {
    display: flex;
    flex-direction: row;
}

.sender {
    margin-right: .5rem;
    
    font-weight: bold;
    
    color: var(--font_1);
}

#right {
    width: calc(100% - 4rem);
    min-width: 15rem;
}

.time {
    padding: .15rem 0rem;

    font-size: .7rem;
    font-weight: bold;

    color: var(--font_2);
}

.text{
    line-height: 1.4rem;
    overflow-wrap: break-word;
    
    white-space: pre-wrap;

    color: var(--black);
}

/* ================ editable =================== */
.edit {
    padding: .5rem 1rem;

    background-color: var(--three);
    border-radius: .25rem;
    outline: none;
}

/* ================ reaction =================== */
#reactions {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: .5rem;
}

/* ================ icons =================== */
#icons {
    position: absolute;
    right: -1rem;
    top: -1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    opacity: 0;

    border-radius: 5px;

    background-color: var(--two);
}

.msg:hover #icons {
    opacity: 1;
    box-shadow: 2px 3px 5px var(--font_2);
    /* box-shadow: 5px 5px 5px var(--font_2); */
}

.msg_icon {
    position: relative;
    
    width: 2rem;
    height: 2rem;
    
    padding: .1rem;
    margin: .2rem;
}

/* ================ Emojis selector =================== */
.msg app-emojis-selector {
    position: absolute;
    z-index: 10;
    bottom: 15rem;
    right: 20rem;
}

/* ================ innerHTML =================== */

/* ===== style ===== */
::ng-deep.bold {
    font-weight: bold;
}

::ng-deep.under {
    text-decoration: underline;
}

::ng-deep.strike {
    text-decoration: line-through;
}

::ng-deep.italic {
    font-style: italic;
}

/* ===== bloc ===== */
::ng-deep.md_bloc, ::ng-deep.md_bloc_inline {
    padding: 0 .5rem;
    margin: .5rem 0;
    
    border-radius: .2rem;
    
    font-family: monospace;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 1rem;
    font-weight: bold;
    
    color: var(--black);
    background-color: rgb(212, 212, 212);
}

::ng-deep.md_bloc {
    display: block;
    
    padding: .25rem .5rem;
}

/* ===== emoji ===== */
.msg ::ng-deep.inline_emoji {
    width: 1.5rem;
    height: 1.5rem;
    
    vertical-align: middle;
    filter: drop-shadow(3px 3px 3px var(--font_2));
}
