.salon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 2.5rem;
    padding-left: .5rem;
    margin-bottom: .2rem;

    font-family: sans-serif;
    font-size: 1.2rem;
}

.salon:hover  {
    background-color: var(--background);
}

.salon.selected {
    background-color: var(--header);
}

#name {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100%;
    
    text-decoration: none;
    
    /* color: var(--white); */
    color: var(--black);
}

#name:visited {
    /* color: var(--white); */
    color: var(--black);
}

/* ===== emoji ===== */
.salon ::ng-deep.inline_emoji {
    width: 2rem;
    height: 2rem;

    vertical-align: middle;
    filter: drop-shadow(3px 3px 3px var(--font_2));
}

/* ===== Hide/Show params ===== */
.params {
    opacity: 0;

    padding-right: .5rem;
}

.salon:hover .params {
    opacity: 1;
}
