<div class="salon" [class.selected]="salonId==salon.id" *ngIf="hasSeeSalon()">
    <a id="name" [innerHtml]="salon.html" routerLink="../{{salon.id}}"></a>

    <img class=" params feather" src="../../../../../assets/images/feather-icons/sliders.svg" alt="salon_settings"
        routerLink="/params/salon/{{salon.id}}">
</div>