<section>
    <form [formGroup]="userForm" (ngSubmit)="save()">
        <div id="profil">
            <app-upload-with-preview (imageEvent)="getEvent($event)"></app-upload-with-preview>
            <div class="profil_inputs">
                <span id="firstname" class="p-float-label">
                    <input id="float-input" type="text" formControlName="firstname" required pInputText>
                    <label for="float-input">Prénom</label>
                </span>
                <span id="lastname" class="p-float-label">
                    <input id="float-input" type="text" formControlName="lastname" required pInputText>
                    <label for="float-input">Nom</label>
                </span>
            </div>
        </div>

        <div class="mail_pwd">
            <span id="email" class="p-float-label">
                <input id="float-input" type="email" formControlName="email" required pInputText>
                <label for="float-input">Email</label>
            </span>
            <span id="pwd" class="p-float-label">
                <input id="float-input" type="text" formControlName="password" required pInputText>
                <label for="float-input">Mot de passe</label>
            </span>
        </div>


        <button id="button" pButton pRipple type="submit" label="Créer" class="p-button-rounded p-button-info"></button>
    </form>
    <app-tab-users [users]="users"></app-tab-users>
</section>