#row {
    display: flex;
    flex-direction: row;

    height: 5rem;

    background-color: var(--header);
}

#logo {
    width: 4rem;
    height: 4rem;
    margin: .5rem;

    filter: drop-shadow(1px 1px 3px var(--one));
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;

    color: var(--one);
    /* color: var(--font_2); */
}
