<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedEmojis()" [disabled]="!selectedEmojis || !selectedEmojis.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="emojis" [scrollable]="true" scrollHeight="45vh" [(selection)]="selectedEmojis"
        [rowHover]="true" dataKey="id" [globalFilterFields]="['name','user.lastname','user.firstname']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Emoji</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Emoji </th>
                <th pSortableColumn="name">Alias <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="user.firstname">Uploadé par<p-sortIcon field="user.firstname"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-emoji>
            <tr>
                <td>
                    <p-tableCheckbox [value]="emoji"></p-tableCheckbox>
                </td>
                <td class="emoji"><img src="{{env.apiUrl}}/files/{{emoji.picture}}" alt="picture of an emoji">
                </td>
                <td>:{{emoji.name}}:</td>
                <td class="user">
                    <img src="{{env.apiUrl}}/files/users/{{emoji.user.picture}}" alt="avatar de l utilisateur">
                    <p>{{emoji.user.firstname}} {{emoji.user.lastname}} </p>
                </td>
                <td class="tabButton">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editEmoji(emoji)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteEmoji(emoji.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Au total, il y a {{emojis ? emojis.length : 0 }} emojis.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="emojiDialog" [style]="{width: '450px'}" header="Emoji Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <app-upload-with-preview (imageEvent)="getEvent($event)"></app-upload-with-preview>

            <label for="name">Alias</label>
            <input type="text" pInputText id="name" [(ngModel)]="emoji.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !emoji.name">Name is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveEmoji()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="emojiDialog2" [style]="{width: '450px'}" header="Emoji Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">

            <label for="name">Alias</label>
            <input type="text" pInputText id="name" [(ngModel)]="emoji.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !emoji.name">Name is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveEmoji()"></button>
    </ng-template>
</p-dialog>