.card {
    --emojis: var(--background);
}

.emoji img{
    height: 4rem;
    width: 4rem;
}

.user img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 60px;
}
.user{
    position: relative;
}
.user p{
    position:absolute;
    left: calc(10% + 50px) ;
    bottom: 40%;
}

.tabButton button{
    margin-left: 5%;
    margin-right: 5%;
}

.card{
    margin: 5%;
}
::ng-deep .p-toolbar {
    background: var(--emojis);
    border: 1px solid var(--white);
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 10px;
}

.card ::ng-deep .p-datatable-scrollable-header-box{
    background-color: var(--emojis);
}

.card ::ng-deep .p-datatable .p-datatable-header {
    background: var(--emojis);
    border: 1px solid var(--white);
}

.card ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background: var(--emojis);
    color: #000000;
}

.card ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background: var(--emojis);
}

.card ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #2196F3;
    background: #06844a;
}

.card ::ng-deep .p-datatable .p-datatable-footer {
    background: var(--emojis);
    border: 1px solid var(--white);
}

.card ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background: #06844a;
}

/* ========= Scrollbar ========= */
.card ::ng-deep ::-webkit-scrollbar {
    width: 16px;
}

.card ::ng-deep ::-webkit-scrollbar-track{
    background: var(--emojis); 
}

.card ::ng-deep ::-webkit-scrollbar-thumb {
    background: var(--menu); 
    border: solid 4px var(--emojis);
}