.all {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;

  height: 100%;
  width: 100%; 
  
  overflow-y: auto;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 10rem;
  height: 12rem;
  margin: .5rem;
  
  text-decoration: none;
  color: var(--header);
}

.team:hover {
  text-decoration: underline;
}

.team:hover img {
  filter: drop-shadow(3px 3px 4px var(--header));
}

.img_div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 8rem;
  height: 8rem;
}

#team_img {
  width: 8rem;
  height: 8rem;
}

img {
  max-width: 8rem;
  max-height: 8rem;
}

h1 {
  margin-top: .5rem;
  text-align: center;
  font-size: 1.25rem;
}
