<div class="all">
    <a *ngFor="let team of teams" class="team" routerLink="/teamMessages/{{team.id}}/redirect">
        <div class="img_div">
            <img src="{{env.apiUrl}}/files/teams/{{team.picture}}" alt="" class="team_img">
        </div>
        <h1>{{team.name}}</h1>
    </a>
</div>