.shared_img {
    height: 10rem;

    border-radius: .2rem;
}

#row {
    display: flex;
}

#other {
    display: flex;
    align-items: center;
    
    padding: .5rem 0;
    margin-top: .25rem;
    
    font-weight: bold;

    border-radius: .25rem;

    color: var(--black);
    background-color: var(--three);
    box-shadow: 1px 1px 3px var(--font_2);
}

.icon {
    height: 2rem;
    margin: 0 .5rem;
    padding: .25rem;
    
    border-radius: .2rem;
}

.download {
    margin-left: 2rem;
}

.download:hover {
    filter: drop-shadow(1px 1px 2px var(--one));
}
