/* ===== Login ===== */
#login_all {
    display: flex;
    flex-direction: row;
    
    height: 100%;
    padding: 0 2rem;
    
    text-decoration: none;
}

#login_all:visited {
    color: var(--background);
}

#login {
    display: flex;
    align-items: center;

    font-size: 1.3rem;
    font-weight: bold;

    color: var(--three);
}

#login_img {
    margin-right: .5rem;
}

#login_all:hover #login_img {
    filter: drop-shadow(1px 1px 2px var(--black));
}

/* ===== Profil ===== */
#profil {
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    margin-top: .5rem;
}

#profil_img {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
    
    border-radius: 50%;
}

#profil_name {
    display: flex;
    flex-direction: row;
    
    white-space: nowrap;

    margin-right: 1rem;
    
    font-family: sans-serif;
    font-weight: bold;
    
    color: var(--one);
    /* color: var(--font_1); */
}

#button_menu {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;

    cursor: pointer;
}

/* ===== Menu ===== */
#profil_menu {
    position: relative;
    top: 1rem;
    right: 1rem;

    z-index: 10;

    align-self: flex-end;

    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: .5rem;

    color: var(--font_1);
    background-color: var(--background);
    border: 2px solid var(--font_2);

    border-radius: 1rem;

    box-shadow: 5px 5px 25px 5px var(--font_2);
}

#profil_menu.visible {
    visibility: visible;
}

.menu_item {
    display: flex;
    flex-direction: row;

    padding: .25rem .5rem;

    text-decoration: none;
    
    cursor: pointer;
}

.menu_item:hover .menu_item_img {
    filter: drop-shadow(1px 1px 2px var(--black));
}

.menu_item:visited {
    color: var(--font_2);
}

.item_name {
    display: flex;
    align-items: center;

    margin-left: .5rem;

    font-weight: bold;
}
