<div id="all" *ngIf="hasSendMsg()">
    <span class="input_msg" (input)="content=$event.target.innerText" data-placeholder="Envoyer un message"
        (keydown.enter)="pressEnter($event)" (keyup)="updateCaret($event.target)" (mouseup)="updateCaret($event.target)"
        contentEditable #writer></span>

    <img id="plus" class="icon feather" src="../../../../../assets/images/feather-icons/plus-circle.svg" alt="join file"
        (mousedown)="fileInput.click()">
    <img id="emoji" class="icon feather" src="../../../../../assets/images/feather-icons/smile.svg" alt="add emoji"
        (mousedown)="openCloseEmojiSelector()">

    <app-emojis-selector [hidden]="hideSelector" [teamId]="teamId" (emojiEmit)="addEmoji($event)"></app-emojis-selector>

    <span *ngIf="file != undefined" id="file_name">
        <div *ngIf="fileUrl" id="display_img">
            <img src="{{fileUrl}}" alt="selected image">
        </div>
        <span>{{file.name}}</span>
        <div id="remove_file" (mousedown)="file=undefined; fileInput.value=''">
            <img src="../../../../assets/images/feather-icons/x-circle.svg" alt="unselect file" class="feather">
        </div>
    </span>
</div>

<input type="file" id="input_file" (change)="changeFile($event)" #fileInput>