#all {
    position: relative;
    
    height: 100%;
    
    margin: 0 auto;
}

.input_msg {
    display: block;
    
    width: 100%;
    min-height: 3rem;
    max-height: 20rem;
    padding: .5rem 3rem;
    
    overflow-y: auto !important;
    
    font-size: 1.2rem;
    
    color: var(--black);
    background-color: var(--one);
    
    border: solid .2rem var(--font_2);
    outline: none;
    
    box-shadow: 3px 3px 5px var(--font_2);
}

.input_msg:empty::before {
    display: block;
    content: attr(data-placeholder);
    
    color: var(--font_2);
}

/* ========= Scrollbar ========= */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track{
    background-color: var(--one2);
}

::-webkit-scrollbar-thumb {
    background: var(--font_2);
    border: 2px solid var(--one2);
}

/* ========= Icons ========= */
.icon {
    position: absolute;
    
    top: .5rem;
    
    width: 2rem;
    height: 2rem;
}

#plus {
    left: .5rem;
}

#emoji {
    right: .5rem;
}

/* ========= Selector ========= */
app-emojis-selector {
    position: absolute;
    bottom: 19rem;
    right: 13rem;
}

/* ========= File ========= */
#file_name {
    position: absolute;
    bottom: 3rem;

    display: flex;
    align-items: center;

    z-index: -1;
    
    padding: .25rem 1rem;
    
    font-weight: bold;
    
    color: var(--black);
    background-color: var(--font_2);
    
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

#display_img {
    max-width: 2rem;
    max-height: 2rem;

    margin-right: .5rem;
}

#display_img img {
    max-width: 2rem;
    max-height: 2rem;
}

#remove_file {
    display: flex;
    justify-content: center;
    
    margin-left: .5rem;
}

#remove_file:hover {
    filter: drop-shadow(0 0 1px var(--black));
}

#input_file { 
    display: none;
}
