#all {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    padding: .5rem .5rem;
    margin-bottom: .5rem;

    text-decoration: none;
    font-weight: bold;

    color: var(--font_1);
}

#private_img {
    width: 2rem;
    height: 2rem;

    margin-right: .5rem;

    border-radius: 2rem;
}

#all:hover  {
    background-color: var(--background);
}

#all.selected {
    background-color: var(--header);
}

/* ===== group ===== */

#len {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-right: .5rem;

    border-radius: 2rem;

    color: var(--background);
    background-color: var(--header);
}

#names {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected #len {
    color: var(--font_1);
    background-color: var(--background);
}
