<div id="all">
    <form [formGroup]="userProfile" (ngSubmit)="login()">
        <img src="../../../assets/images/logo.png" alt="logo" id="logo">

        <div id="login" class="p-float-label f-input-div">
            <input type="text" formControlName="email" required pInputText>
            <label>Login</label>
        </div>

        <div class="f-input-div p-float-label">
            <p-password formControlName="password" toggleMask="true" [feedback]="false" required></p-password>
            <label>Mot de passe</label>
        </div>

        <button pButton pRipple type="submit" label="Connexion" class="f-submit p-button-rounded p-button-info"
            id="button"></button>
    </form>

    <p-toast position="bottom-right"></p-toast>
</div>