#all {
  overflow-y: auto; 
  
  height: 100%;
} 

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100%;
}

#logo {
  margin-bottom: 1rem;
}

#button {
  margin-top: 1rem;
}

/* ============== Same =================== */
::ng-deep.pi-eye::before, ::ng-deep.pi-eye-slash::before {
    color: var(--font_1);
}
