<div>
    <span class="right">
        <label>{{right.desc}}</label>
        <p-selectButton id="buttons" [options]="options" [(ngModel)]="right.value" optionLabel="name"
            optionValue="value">
        </p-selectButton>
    </span>
</div>