.right{
    background-color: var(--background);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.right label{
    margin-top: 5px;
    margin-bottom: 5px;
}
.right:hover{
    box-shadow: 12px 12px 2px 1px var(--header)
}

::ng-deep .p-selectbutton .p-button.p-highlight:first-of-type {
    background: #6ee2a2;
    border-color: #000000;
    color: #ffffff;
}
::ng-deep .p-selectbutton .p-button.p-highlight:first-of-type:hover {
    background: #6ee2a2;
    border-color: #777e83;
    color: #ffffff;
}

::ng-deep .p-selectbutton .p-button.p-highlight:last-of-type {
    background: #eb5151;
    border-color: #000000;
    color: #ffffff;
}
::ng-deep .p-selectbutton .p-button.p-highlight:last-of-type:hover {
    background: #eb5151;
    border-color: #777e83;
    color: #ffffff;
}

::ng-deep .p-selectbutton .p-button.p-highlight {
    background: #8a8a8a;
    border-color: #000000;
    color: #ffffff;
}

::ng-deep .p-selectbutton .p-button.p-highlight:hover {
    background: #818283;
    border-color: #777e83;
    color: #ffffff;
}