#col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    width: 100%;
    height: 100%;
    max-width: calc(100vw - 20rem);/* TODO calc */

    background-color: var(--background);
}

#msg-thread {
    display: flex;
    flex-direction: column;
 
    width: 100%;
    height: 100%;
    padding-bottom: 1.5rem;
    overflow-y: scroll;
}

.center {
    width: calc(100% - 16px - 3rem);
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

app-message {
    box-shadow: 1px 1px 3px var(--font_2);
}

app-line-date {
    margin: .5rem 0;
}

app-msg-writer {
    position: sticky;
    bottom: .5rem;
    align-self: center;
    
    width: calc(100% - 16px - 4rem);/* scrollbar width */
    margin-right: 16px;
}

/* ========= Scrollbar ========= */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track{
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--header); 
    border: solid 4px var(--background);
}

::-webkit-scrollbar-corner {
    background-color: var(--background);
}