<div id="col">
    <div id="msg-thread" #scrollMe>
        <div *ngFor="let day of msgs" class="day">
            <app-line-date *ngIf="day.length != 0" [date]="day[0].send" class="center"></app-line-date>
            <app-message *ngFor="let msg of day" [msg]="msg" [member]="member" class="center"
                (delete)="deleteMsg($event)" (edit)="editMsg($event)" #msgs>
            </app-message>
        </div>
    </div>

    <app-msg-writer (msgEmit)="sendMsg($event)" [teamId]="teamId" [salonId]="salonId" #writer></app-msg-writer>
</div>