<div id="col">
    <div id="team_logo_center">
        <img *ngIf="team != undefined" id="team_logo" src="{{env.apiUrl}}/files/teams/{{team.picture}}" alt="">
    </div>

    <div id="team_name_line">
        <div id="lol"></div>
        <div *ngIf="team != undefined" id="team_name">{{team.name}}</div>
        <div>
            <img *ngIf="team != undefined" id="team_param" class="feather"
                src="../../../../../assets/images/feather-icons/sliders.svg" alt="teamParams"
                routerLink="/params/team/{{team.id}}">
        </div>
    </div>

    <div id="salons">
        <app-salon-button *ngFor="let salon of salons" [salon]="salon" [salonId]="salonId">
        </app-salon-button>

        <div *ngIf="hasCreateDeleteSalon()" id="addSalon">
            <img src="../../../../assets/images/feather-icons/plus-square.svg" alt="addSalon" class="feather"
                (click)="modale.openAddSalon()">
        </div>
    </div>
</div>

<app-modale-add-salon #modale [teamId]="teamId"></app-modale-add-salon>