<p-table [value]="users">
    <ng-template pTemplate="header">
        <tr>
            <th>Prénom</th>
            <th>Est Admin</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr class="element">
            <td class="profil">
                <img class="profil_picture" src="{{env.apiUrl}}/files/users/{{user.picture}}" alt="">
                <p>{{user.firstname}} {{user.lastname}}</p>
            </td>
            <td>
                <p-inputSwitch [(ngModel)]="user.isAdmin" (onChange)="swapAdmin(user)"></p-inputSwitch>
                <img class="delete feather" src="../../../../../assets/images/feather-icons/user-x.svg"
                    alt="delete button" (click)="deleteUser(user)">
            </td>
        </tr>
    </ng-template>
</p-table>