.profil_picture{
    border-radius: 40%;
    height: 40px;
}
.profil{
    display: flex;
}
.profil p{
    margin-top: 2%;
    margin-left: 2%;
}
.delete {
    margin-left: 10%;
    display: none;
}
.element:hover .delete{
    display: initial;
}

