<section>
    <div class="permissionMenu">
        <app-dialog-permission [salonId]="salonId" (createEvent)="getEvent($event)"> </app-dialog-permission>

        <div id="roleContainer" *ngFor="let permission of permissionsRoles"
            [class.current]="permission.id==permissionChoosen?.id">
            <div class="circle" style.backgroundColor={{permission.role.color}} style="height: 15px;
            width: 15px;
            border-radius: 60%;"> </div>
            <div class="permissionRoleName" (click)="choosePermission(permission.id)">
                {{permission.role.name}}
            </div>
            <img class="delete feather" src="../../../../../assets/images/feather-icons/x-circle.svg"
                alt="delete button" (click)="deletePermission(permission.id)">
        </div>
        <div class="barre"></div>
        <div *ngFor="let permission of permissionsMembers" [class.current]="permission.id==permissionChoosen?.id">
            <div class="permissionUser" (click)="choosePermission(permission.id)">
                <img class="profil_picture" src="{{env.apiUrl}}/files/users/{{permission.member.user.picture}}" alt="">
                <p>
                    {{permission.member.user.firstname}} {{permission.member.user.lastname}}
                </p>
                <img class="delete feather" src="../../../../../assets/images/feather-icons/x-circle.svg"
                    alt="delete button" (click)="deletePermission(permission.id)">
            </div>
        </div>
    </div>
    <div class="permission" *ngIf="permissionChoosen">

        <app-permission *ngFor="let right of permissionChoosen.commonRights" [right]="right"></app-permission>
        <button pButton pRipple type="button" (click)="update()" label="Sauvegarder"
            class="p-button-rounded p-button-info"></button>
    </div>
</section>