.profil_picture{
    border-radius: 40%;
    height: 40px;
}
.barre{
    border:solid 2px var(--menu);
    width: 100%;
}
section{
    display: flex;
    height: 100%;
    width: 100%;
}

/*========================= Menu permission========================= */
.circle{
    margin-top: 7%;
    margin-left: 7%;
}
#roleContainer{
    display: flex;
    justify-content: flex-start;
}
#addPermission  {
    border-radius: 0; 
}
.permissionMenu{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    height: 100%;
    width: 20rem;
    overflow-y: auto;
}
.permissionRoleName{
    margin: 20px;
    margin-right: 15%;
}
.permissionUser{
    display: flex;
    margin-top: 5%;
    margin-left: 7%;
    justify-content: flex-start;
}
.permissionUser p{
    margin-top: 5%;
    margin-left: 12%;
}
.delete{
    display: none;
    margin-left: 5%;
}
#roleContainer:hover .delete{
    display: block;
}
.permissionUser:hover .delete{
    display: block;
}
/*=======================================Permission==========================*/
.permission{
    margin: 5%;
    width: 100%;
    overflow-y: auto;
}
/* ====================Dialogue==============*/
:host ::ng-deep .p-dialog-content {
    overflow-y: unset;
}

/* ========= Scrollbar ========= */
.permission::-webkit-scrollbar {
    width: 16px;
}

.permission::-webkit-scrollbar-track{
    background: var(--menu); 
}

.permission::-webkit-scrollbar-thumb {
    background: var(--font_1); 
    border: solid 4px var(--menu);
}

.current, .current:hover {
    background-color: var(--font_1);
}
