#all {
    min-height: 20rem;
    height: calc(100% - 5rem);
}

button {
    padding: .5rem;
}

/* =============================================================== */

#videos {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#videos:first-child:nth-last-child(2) {
    width: 100%;
    background-color: crimson;
}

#videos:nth-child(3) {
    width: 50%;
    background-color: darkgreen;
}

#local-video {
    z-index: 1;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;

    width: 10vw;
    height: 10vw;
    max-width: 10rem;
    max-height: 10rem;

    background-color: #535353;
    border: 3px solid white;
    border-radius: 4px;
}

/* =============================================================== */

