<div id="all">
    <div class="row">
        <button mat-raised-button color="primary" class="m-2" [disabled]="videoFlux.length!=0"
            (click)="startVideo()">Rejoindre l'appel</button>

        <button mat-raised-button color="warn" class="m-2" [disabled]="videoFlux.length==0" (click)="endVideo()">Quitter
            l'appel</button>
    </div>

    <div id="videos">
        <app-video-square *ngFor="let video of videoFlux" [videoFlux]="video"></app-video-square>

        <video #localVideo id="local-video" autoplay playsinline [muted]="true"></video>
    </div>

    <p-toast position="bottom-right"></p-toast>
</div>