#all {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;

    height: 100%;
    
    overflow-y: auto; 
    
    background-color: var(--menu);
} 

#logo {
    width: 8rem;
    height: 8rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    
    filter: drop-shadow(1px 1px 2px var(--white));
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
    width: 100%;
}
/* 
label {
    color: var(--font_1);
} */

/* ========== Identity ========== */
#identity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#identity_left {
    display: flex;
    flex-direction: column;
}

#identity_right {
    display: flex;
    flex-direction: column;
}

/* ========== Date ========== */
/* ==== Size ==== */
::ng-deep.p-calendar {
    width: 15rem;
}

::ng-deep.p-datepicker table td > span {
    width: 2rem;
    height: 1.5rem;
}

::ng-deep.p-datepicker table td {
    padding: 0px;
}

/* ==== Colors ==== */
::ng-deep.p-calendar .p-datepicker {
    color: var(--font_2);
    background-color: var(--background);
}

::ng-deep.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
    color: var(--header);
    background-color: var(--background);
}

::ng-deep.p-datepicker .p-datepicker-header .p-datepicker-title select {
    background-color: var(--main_5);
}

::ng-deep.p-datepicker table td > span.p-highlight {
    background-color: var(--main_5);
}

/* ==== Scrollbar ==== */
::ng-deep::-webkit-scrollbar {
    width: 9px;
}

::ng-deep::-webkit-scrollbar-track {
    background-color: var(--main_5);
}

::ng-deep::-webkit-scrollbar-thumb {
    background: var(--header);
    border: 2px solid var(--main_5);
}

/* ========== Button ========== */
#f-submit {
    margin: 1rem 0;
    background-color: var(--font_1);
    border: none;
}
