<div id="all">
    <img id="logo" src="../../../assets/images/logo.png" alt="logo">

    <form [formGroup]="userProfile" (ngSubmit)="save()">
        <div id="identity">
            <div id="identity_left">
                <app-upload-with-preview (imageEvent)="imgEvent($event)" #img></app-upload-with-preview>
            </div>

            <div id="identity_right">
                <div class="p-float-label f-input-div">
                    <input id="first" type="text" formControlName="firstname" required pInputText>
                    <label for="first">Prénom</label>
                </div>

                <div class="p-float-label f-input-div">
                    <input id="last" type="text" formControlName="lastname" required pInputText>
                    <label for="last">Nom</label>
                </div>

                <div class="p-float-label f-input-div">
                    <p-calendar id="date" formControlName="birth" [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="1920:2010" dateFormat="d MM yy" required>
                    </p-calendar>
                    <label for="date">Naissance</label>
                </div>
            </div>
        </div>

        <div class="p-float-label f-input-div">
            <input id="email" type="email" formControlName="email" required pInputText email>
            <label for="email">Email</label>
        </div>

        <div class="f-input-div p-float-label">
            <p-inputMask formControlName="phone" mask="99.99.99.99.99" required></p-inputMask>
            <label for="tel">Téléphone</label>
        </div>

        <button pButton pRipple type="submit" label="Sauvegarder" class="p-button-rounded p-button-info"
            id="f-submit"></button>
    </form>
</div>