#col {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background-color: var(--background);
}

#row {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 100%;

    /* Minus the header size */
    max-height: calc(100vh - 5rem);
}

#router_div {
    width: 100%;
    height: 100%;
}

/* ========== Modal ========== */
/* background */
.modal {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    
    z-index: 1; /* Sit on top */
    
    display: none;

    width: 100%;
    height: 100%;
    
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    
    width: 20rem;
    padding: 20px;
    margin: 15% auto;
    
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 1rem;
}

#colors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    justify-content: space-between;

    width: 8rem;
    height: 2rem;
    padding: .25rem;
}

/* ========== Button ========== */
button {
    align-self: center;

    width: 5rem;
    padding: .25rem;
    margin-top: 1rem;

    background-color: #b1b1b1;
    border: none;
    border-radius: .5rem;
}

/* The Close Button */
.close {
    align-self: flex-end;

    font-size: 28px;
    font-weight: bold;
    
    color: #aaa;
}

.close:hover,
.close:focus {
    cursor: pointer;

    text-decoration: none;
    
    color: black;
}
