<div id="col">
    <app-header (colors)="openColors($event)"></app-header>
    <div id="row">
        <app-sidebar></app-sidebar>
        <div id="router_div">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal" [ngStyle]="styleColors">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (mousedown)="closeColors()">&times;</span>

        <div id="colors">
            <div class="col">
                <div class="color">
                    <label>
                        Principale:
                        <input type="color" [(ngModel)]="header">
                    </label>
                </div>
                <div class="color">
                    <label>
                        Menu:
                        <input type="color" [(ngModel)]="menu">
                    </label>
                </div>
                <div class="color">
                    <label>
                        Fond:
                        <input type="color" [(ngModel)]="background">
                    </label>
                </div>
                <div class="color">
                    <label>
                        Police 1:
                        <input type="color" [(ngModel)]="font_1">
                    </label>
                </div>
                <div class="color">
                    <label>
                        Police 2:
                        <input type="color" [(ngModel)]="font_2">
                    </label>
                </div>
            </div>

            <div class="col">
                <label></label>

                <div class="color">
                    <label>
                        Messages:
                        <input type="color" [(ngModel)]="one">
                    </label>
                </div>
                <div class="color">
                    <label>
                        Msg (bis):
                        <input type="color" [(ngModel)]="one2">
                    </label>
                </div>
                <div class="color">
                    <label>
                        Emojis:
                        <input type="color" [(ngModel)]="two">
                    </label>
                </div>
            </div>
        </div>

        <button (mousedown)="changeColor()">Appliquer</button>

        <div>v1.7</div>
    </div>
</div>