.all {
    position: relative;
    display: flex;
}

.react {
    position: relative;
    display: flex;
    align-items: center;

    padding: 0 .5rem;
    margin-right: .1rem;
    margin-bottom: .2rem;
    
    cursor: pointer;
    
    font-weight: bold;
    
    color: var(--font_1);
    background-color: var(--one1);
    
    border-radius: .2rem / 1rem;
    border: 1px solid var(--menu);
}

/* User has used this emoji */
.react.on {
    background-color: var(--two);
}

.react:hover {
    background-color: var(--background);
}

.react .emoji {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .1rem;
}

/* ========== tooltip ========== */
.react_tooltip {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;
    
    opacity: 0;
    visibility: hidden;

    display: flex;
    align-items: center;
    
    width: 15rem;
    padding: .2rem .5rem;
    
    font-weight: normal;
    font-size: .8rem;
    
    border-radius: .2rem;
    
    color: var(--font_1);
    background-color: var(--menu);
}

.react:hover ~ .react_tooltip {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0s .5s;
}

/* Triangle */
.react_tooltip::after {
    position: absolute;
    bottom: -1rem;
    left: calc(50% - 1rem);

    z-index: 11;

    content: "";
    
    border-right: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-top: 1rem solid var(--menu);
}

.tooltip_emoji {
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
}

.all .bold {
    font-weight: bold;
}
