<section>
    <div id="menu">
        <p-button class="addRole" icon="pi pi-check" (click)="addNewRole()"></p-button>
        <p-orderList id="menu" [value]="roles" dragdrop="true">
            <ng-template let-role pTemplate="item">
                <div class="roles" (click)="roleChoosen(role.id)" [class.current]="role.id==roleSelected?.id">
                    <div class=" circle" style.backgroundColor={{role.color}} style="height: 15px;
                width: 15px;
                border-radius: 60%;"> </div>
                    <div class="roleName">
                        {{role.name}}
                    </div>
                    <img class="delete feather" src="../../../../../assets/images/feather-icons/x-circle.svg"
                        alt="delete button" (click)="deleteRole(role)">
                </div>
            </ng-template>
        </p-orderList>
    </div>

    <div id="content" *ngIf="roleSelected">
        <span id="input" class="p-float-label">
            <input id="float-input" type="text" [(ngModel)]="roleSelected.name" pInputText>
            <label for="float-input">Nom du rôle</label>
        </span>
        <div class="colorPicker">
            <span class="colorSpan">
                <label>Couleur:</label>
                <p-colorPicker [(ngModel)]="roleSelected.color"></p-colorPicker>
            </span>
            <div class="colorExample">
                <div class="circleExample" (click)="updateColor('#00c0d1')" style="height: 30px;
            width: 30px;
            background-color: #00c0d1 ;
            border-radius: 20%;"> </div>
                <div class="circle" (click)="updateColor('#02ff4e')" style="height: 30px;
            width: 30px;
            background-color: #02ff4e ;
            border-radius: 20%;"> </div>
                <div class="circle" (click)="updateColor('#ff0000')" style="height: 30px;
            width: 30px;
            background-color: #ff0000 ;
            border-radius: 20%;"> </div>
                <div class="circle" (click)="updateColor('#674dfc')" style="height: 30px;
            width: 30px;
            background-color: #674dfc ;
            border-radius: 20%;"> </div>
                <div class="circle" (click)="updateColor('#f539e5')" style="height: 30px;
            width: 30px;
            background-color: #f539e5 ;
            border-radius: 20%;"> </div>
                <div class="circle" (click)="updateColor('#f3a54b')" style="height: 30px;
            width: 30px;
            background-color: #f3a54b ;
            border-radius: 20%;"> </div>
                <div class="circle" (click)="updateColor('#faf735')" style="height: 30px;
            width: 30px;
            background-color: #faf735 ;
            border-radius: 20%;"> </div>
                <div class="circle" (click)="updateColor('#a7a7a7')" style="height: 30px;
            width: 30px;
            background-color: #a7a7a7 ;
            border-radius: 20%;"> </div>
            </div>

        </div>

        <div class="rightsContainer">

            <app-rights *ngFor="let right of roleSelected.rights" [right]="right">
            </app-rights>

            <div id="blackBorder"></div>

            <app-rights *ngFor="let right of roleSelected.commonRights" [right]="right">
            </app-rights>

        </div>

        <button pButton pRipple type="button" (click)="update()" label="Sauvegarder"
            class="p-button-rounded p-button-info"></button>
    </div>

</section>