section{
    height: 100%;
    display: flex;
    width: 100%;
}
#content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#content>*{
    margin-left: 10%;
    margin-right: 10%;
}
/* ================================ MENU ROLES =================== */
::ng-deep .p-orderlist .p-orderlist-controls {
    padding: 1rem;
    display: none;
}
::ng-deep .p-orderlist .p-orderlist-list {
    border: none; 
    background: none; 
    color: none;
    padding: none; 
    border-bottom-right-radius: none; 
    border-bottom-left-radius: none;
}
#menu{
    height: 100%;
    width: 20rem;
    background-color: var(--background);
    flex-direction: column;
    overflow-y: auto;
}
.roles{
    margin: 15px;
    display: flex;
    padding: 15px;
    justify-content: space-around;
}


.roleName{
    margin-left: 15px;
    margin-top: 5px;
    text-align: left;
}
.circle{
    margin-top: 6px;
    margin-bottom: 6px;
}

.delete{
    display: none;
}
.roles:hover .delete{
    display: block;
}
.current, .current:hover {
    background-color: var(--menu);
}
/*================================ Input/ Label ========================== */
input{
    background-color: var(--background);
}
input:hover{
    box-shadow: 12px 12px 2px 1px var(--font_2)
}

label{
    color: var(--font_2);
}
.p-float-label{
    margin-top: 3%;
    margin-bottom: 3%;
}

/*=============================== Color picker ================================ */
.colorSpan{
    width: 20%;
    display: flex;
}
.colorSpan>label{
    margin: 5px;
}
.colorPicker{
    display:flex;
    background-color: var(--background);
    justify-content: space-around;
    padding: 10px;
}
.colorPicker:hover{
    box-shadow: 12px 12px 2px 1px var(--header)
}

.colorExample{
    display: flex;
    flex-wrap: wrap;
}

.colorExample div{
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* ======================= Bouton ajouter role ============= */
.addRole ::ng-deep .p-button.p-button-icon-only {
    width: 20px;
    padding: 0.5rem 0;
}
.addRole ::ng-deep .p-button {
    color: var(--white);
    background: #2b8a55;
    border: 1px solid #2196F3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 60px;
    height: 15px;
    margin-left: 85%;
}

/*============================= Bouton Sauvegarder =======================================*/
button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80%;
}

/*================================ Liste de droits ===================== */
#blackBorder {
    border:solid 2px var(--header);
    width: 100%;
}

.rightsContainer {   
    display: flex;
    flex-direction: column;
}
/* ========= Scrollbar ========= */
#content::-webkit-scrollbar {
    width: 16px;
}

#content::-webkit-scrollbar-track {
    background: var(--menu); 
}

#content::-webkit-scrollbar-thumb {
    background: var(--font_1); 
    border: solid 4px var(--menu);
}

