#side_menu {
    display: flex;
    flex-direction: column;

    width: 20rem;
    height: 100%;
    padding: 1rem;

    overflow-y: auto;
    
    background-color: var(--header);
}

.button {
    padding:15px;
    margin-bottom: 20px;
    margin-left: 10px;

    text-decoration: none;

    color: var(--one);
}

.button:hover {
    background-color: var(--menu);
}

.current, .current:hover {
    background-color: var(--font_1);
}

#previous {
    font-weight: bold;
    font-size: 1.25rem;

    color: var(--font_1);
}

/* ========= Scrollbar ========= */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track{
    background-color: var(--header);
}

::-webkit-scrollbar-thumb {
    background: var(--font_1); 
    border: solid 4px var(--header);
}

::-webkit-scrollbar-corner {
    background-color: var(--header);
}
