#all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100%;
    height: 100%;
    
    color: var(--header);
    background-color: var(--background);
} 

#quatre {
  font-size: 20rem;
}

#texte{
  font-size: 3rem;
}
