<div id="all">
    <video #remoteVideo id="video" autoplay playsinline></video>
</div>
<!-- <video #remoteVideo id="video" poster="../../../../assets/images/feather-icons/video-off.svg" autoplay
        playsinline></video> -->