#all {
    display: flex;
    
    height: 100%;
    width: 100%;
}

#content {
    width: 100%;
    height: 100%;

    overflow-y: auto;
    background-color: var(--menu);
}

/* ========= Scrollbar ========= */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track{
    background-color: var(--menu);
}

::-webkit-scrollbar-thumb {
    background: var(--font_1); 
    border: solid 4px var(--menu);
}

::-webkit-scrollbar-corner {
    background-color: var(--menu);
}
