* {
    padding: 0;
    margin: 0;

    /* font-family: sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

app-root {
    height: 100%;
}

:root {
  /* ===== R, G, B =====*/
    
    --_header: 52, 108, 175;
    /* --_menu: 92, 146, 210;  */
    --_menu: 92, 146, 210; 
    --_background: 224, 240, 255;
    
    --_font_1: 38, 64, 138;
    --_font_2: 140, 140, 140;
    
    /* --_header: 77, 114, 158; */
    /* --_menu: 114, 149, 191;  */
    /* --_background: 146, 186, 222; */

    /* --_font_1: 132, 201, 231; */
    /* --_font_2: 30, 52, 109; */
    
    --_black: 0, 0, 0;
    --_white: 255, 255, 255;

    /* ===== RGB ===== */
    --header: rgb(var(--_header)); 
    --menu: rgb(var(--_menu)); 
    --background: rgb(var(--_background));
    
    --font_1: rgb(var(--_font_1));
    --font_2: rgb(var(--_font_2));
    
    --black: rgb(var(--_black));
    --white: rgb(var(--_white));

    /* ===== v2 ===== */
    --one: rgb(240, 240, 240); /*msg*/
    --one2: rgb(235, 239, 255); /*msg hover*/
    --two: rgb(190, 215, 255); /*popup: emojis, ...*/
    --three: rgb(200, 200, 200); /* shared file */
    
    --side: rgb(52, 108, 175); /*sidebar*/
    --main_5: rgb(150 188 234); /* calendar */
    /* --side: rgb(230, 230, 230); sidebar */
}

.feather:hover {
    filter: drop-shadow(1px 1px 2px var(--black));
    cursor: pointer;
}

img {
    -webkit-user-drag: none;
}

/* ============================== Inputs ========================= */
.f-input-div {
    margin: 15px;
}

.f-input-div input, .f-input-div p-calendar {
    width: 15rem;
    
    color: var(--font_1);
    background-color: var(--background);
    border-color: var(--header);
}

.f-input-div input:hover {
    border-color: var(--header);
    box-shadow: 5px 5px 30px var(--font_1);
}

.f-input-div label {
    color: var(--font_1) !important;
}

/* ============================= Password ============================ */
/* .pi-eye::before, ::ng-deep.pi-eye-slash::before {
    color: var(--font_1) !important;
} */

label {
    color: var(--font_1);
}

#p1, #p2 {
    margin-top: 4rem;
}

::ng-deep.p-inputtext:hover, ::ng-deep.p-inputtext:enabled:focus {
    border-color: var(--header);
    box-shadow: 5px 5px 30px var(--font_2);
}